*{
   
    margin: 0px; 
    padding: 0px; 
    background-color: rgb(102, 99, 99);
}

.selection-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    gap: 80px;
    box-sizing: border-box;

}

.player-part{
    display: flex;
    flex-direction: row;
    background-color: rgb(43, 27, 27);
    padding: 60px;
    width: 230px;
    height: 140px;
    margin: 20px;
    color: white
}
.computer-part{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(43, 27, 27);
    padding: 60px;
    width: 230px;
    height: 140px;
    margin: 20px;
    color: white;
}
.player-choice-display,.computer-choice-display{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 50px;
    justify-content: center;
    width: 100px;
    height: 100px;
    font-size: 80px;
    padding: 10px;
    margin-bottom: 10px;
    
}

#playerscore , #computerscore {
    display: flex;
    flex-direction: row;
    justify-content: center;
   margin-top: 130px;
   margin-left: -150px;
   text-align: center;
}

h1{
    color: white;
    font-size: 30px;
    background: none;
    margin-top: 40px;
    text-align: center;
}


.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    color: white;


}

.Buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 50px;
    transform: translate3d(0px, 6px, 0px);

}
#rock, #paper, #scissors{
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    width: 130px;
    height: 100px;
    color: wheat;
    background-color: black;
    cursor: pointer;

}

img {
    height:  100px;
}

.btn {

    height: 170px;
    background-color: black;
    border-radius: 15px;
  
}
.btn :hover {
    transform: translate3d(0px, 6px, 0px);
}

    
    



